<nav>
    <ul class="list-unstyled">
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" style="fill: currentColor" viewBox="0 0 16 16">
					<path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
					<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
					<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
				</svg>
                <span class="ps-1">Overview</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.home_page }}" class="p-man-nav-link">Home</a></li>
                <li><a href="{{ page.relpath }}{{ page.home_page }}#about" class="p-man-nav-link">About</a></li>
                <li><a href="{{ page.relpath }}{{ page.home_page }}#license" class="p-man-nav-link">License</a></li>
                <li><a href="{{ page.relpath }}{{ page.home_page }}#minimum-requirements" class="p-man-nav-link">Minimum requirements</a></li>
                <li><a href="{{ page.relpath }}{{ page.home_page }}#default-content" class="p-man-nav-link">Default assets</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"  style="fill: var(--bs-pink)">
					<path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.35 4.35 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0M7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1s.458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7z"/>
                </svg>
                <span class="ps-1">Quick start</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.quickstart_page }}#quick-start" class="p-man-nav-link">Getting started</a></li>
                <li><a href="{{ page.relpath }}{{ page.quickstart_page }}#qs-configure-system" class="p-man-nav-link">1. System configuration</a></li>
                <li><a href="{{ page.relpath }}{{ page.quickstart_page }}#qs-install" class="p-man-nav-link">2. Install Praisenter</a></li>
                <li><a href="{{ page.relpath }}{{ page.quickstart_page }}#qs-create-workspace" class="p-man-nav-link">3. Create a workspace</a></li>
                <li><a href="{{ page.relpath }}{{ page.quickstart_page }}#qs-setup-displays" class="p-man-nav-link">4. Setup displays</a></li>
                <li><a href="{{ page.relpath }}{{ page.quickstart_page }}#qs-import-bible" class="p-man-nav-link">5. Import a Bible</a></li>
                <li><a href="{{ page.relpath }}{{ page.quickstart_page }}#qs-create-slides" class="p-man-nav-link">6. Create slides</a></li>
                <li><a href="{{ page.relpath }}{{ page.quickstart_page }}#qs-present-slides" class="p-man-nav-link">7. Present slides</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-warning)">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                </svg>
                <span class="ps-1">Workspaces</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.workspaces_page }}#workspaces" class="p-man-nav-link">Workspaces</a></li>
                <li><a href="{{ page.relpath }}{{ page.workspaces_page }}#creating-workspaces" class="p-man-nav-link">Creating workspaces</a></li>
                <li><a href="{{ page.relpath }}{{ page.workspaces_page }}#switching-workspaces" class="p-man-nav-link">Switching workspaces</a></li>
                <li><a href="{{ page.relpath }}{{ page.workspaces_page }}#removing-workspaces" class="p-man-nav-link">Removing workspaces</a></li>
                <li><a href="{{ page.relpath }}{{ page.workspaces_page }}#workspace-upgrade" class="p-man-nav-link">Workspace upgrade</a></li>
            </ul>
        </li>
        <li>  
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-purple)">
                    <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z"/>
                    <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z"/>
                </svg>
                <span class="ps-1">Library Management</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.library_page }}#library" class="p-man-nav-link">Library</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#searching-filtering--sorting" class="p-man-nav-link">Searching, filtering, & sorting</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#selecting-an-item" class="p-man-nav-link">Selecting an asset</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#content-preview" class="p-man-nav-link">Asset preview</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#selecting-multiple-items" class="p-man-nav-link">Selecting multiple assets</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#duplicate--copy" class="p-man-nav-link">Duplicate / copy</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#lib-rename-delete" class="p-man-nav-link">Rename / delete</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#create-slide" class="p-man-nav-link">Create slide</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#importing-content" class="p-man-nav-link">Importing assets</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#supported-import-formats" class="p-man-nav-link">Supported import formats</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#exporting-content" class="p-man-nav-link">Exporting assets</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#supported-export-formats" class="p-man-nav-link">Supported export formats</a></li>
                <li><a href="{{ page.relpath }}{{ page.library_page }}#indexing--reindexing" class="p-man-nav-link">Indexing / reindexing</a></li>
            </ul>
        </li>
        <li>  
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-green)">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                </svg>
                <span class="ps-1">Editing Items</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.editing_page }}#editing" class="p-man-nav-link">Editing</a></li>
                <li><a href="{{ page.relpath }}{{ page.editing_page }}#toolbar" class="p-man-nav-link">Toolbar</a></li>
                <li><a href="{{ page.relpath }}{{ page.editing_page }}#side-pane" class="p-man-nav-link">Side pane</a></li>
                <li><a href="{{ page.relpath }}{{ page.editing_page }}#saving-changes" class="p-man-nav-link">Saving changes</a></li>
                <li><a href="{{ page.relpath }}{{ page.editing_page }}#copy--cut--paste" class="p-man-nav-link">Copy / cut / paste</a></li>
                <li><a href="{{ page.relpath }}{{ page.editing_page }}#rename--delete" class="p-man-nav-link">Rename / delete</a></li>
                <li><a href="{{ page.relpath }}{{ page.editing_page }}#undo--redo" class="p-man-nav-link">Undo / redo</a></li>
                <li><a href="{{ page.relpath }}{{ page.editing_page }}#hotkeys" class="p-man-nav-link">Hotkeys</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-primary)">
                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                </svg>
                <span class="ps-1">Bibles</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.bibles_page }}#bibles" class="p-man-nav-link">Bibles</a></li>
                <li><a href="{{ page.relpath }}{{ page.bibles_page }}#books--chapters--verses" class="p-man-nav-link">Books / chapters / verses</a></li>
                <li><a href="{{ page.relpath }}{{ page.bibles_page }}#bulk-edit" class="p-man-nav-link">Bulk edit</a></li>
                <li><a href="{{ page.relpath }}{{ page.bibles_page }}#reordering" class="p-man-nav-link">Reordering</a></li>
                <li><a href="{{ page.relpath }}{{ page.bibles_page }}#sort-by-number" class="p-man-nav-link">Sort by number</a></li>
                <li><a href="{{ page.relpath }}{{ page.bibles_page }}#number-by-order" class="p-man-nav-link">Number by order</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="var(--bs-orange)">
                    <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2"/>
                    <path fill-rule="evenodd" d="M12 3v10h-1V3z"/>
                    <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1z"/>
                    <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
                </svg>
                <span class="ps-1">Song lyrics</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.songs_page }}#song-lyrics" class="p-man-nav-link">Song lyrics</a></li>
                <li><a href="{{ page.relpath }}{{ page.songs_page }}#lyrics--sections" class="p-man-nav-link">Lyrics / sections</a></li>
                <li><a href="{{ page.relpath }}{{ page.songs_page }}#bulk-edit" class="p-man-nav-link">Bulk edit</a></li>
                <li><a href="{{ page.relpath }}{{ page.songs_page }}#reordering" class="p-man-nav-link">Reordering</a></li>
                <li><a href="{{ page.relpath }}{{ page.songs_page }}#pdf-import" class="p-man-nav-link">PDF import</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="var(--bs-teal)">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                </svg>
                <span class="ps-1">Slide basics</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.slides_page }}#slide-basics" class="p-man-nav-link">Slides</a></li>
                <li><a href="{{ page.relpath }}{{ page.slides_page }}#opacity--transparency" class="p-man-nav-link">Opacity / transparency</a></li>
                <li><a href="{{ page.relpath }}{{ page.slides_page }}#colors" class="p-man-nav-link">Color</a></li>
                <li><a href="{{ page.relpath }}{{ page.slides_page }}#gradients" class="p-man-nav-link">Gradients</a></li>
                <li><a href="{{ page.relpath }}{{ page.slides_page }}#media" class="p-man-nav-link">Media</a></li>
                <li><a href="{{ page.relpath }}{{ page.slides_page }}#backgrounds--borders" class="p-man-nav-link">Backgrounds / borders</a></li>
                <li><a href="{{ page.relpath }}{{ page.slides_page }}#shadow--glow" class="p-man-nav-link">Shadow / glow</a></li>
                <li><a href="{{ page.relpath }}{{ page.slides_page }}#font--fill--padding" class="p-man-nav-link">Font / fill / padding</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="#cd4747">
                    <path d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2zm6 1v2h2v6h-2v2H5v-2H3V5h2V3zm1-2h3v3h-3zm3 11v3h-3v-3zM4 15H1v-3h3zM1 4V1h3v3z"/>
                </svg>
                <span class="ps-1">Slide components</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#slide-components" class="p-man-nav-link">Components</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#text-component" class="p-man-nav-link">Text component</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#placeholder-component" class="p-man-nav-link">Placeholder component</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#datetime-component" class="p-man-nav-link">Date/time component</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#countdown-component" class="p-man-nav-link">Countdown component</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#media-component" class="p-man-nav-link">Media component</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#moving-components" class="p-man-nav-link">Moving components</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#sizing-components" class="p-man-nav-link">Sizing components</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#snap-to-grid" class="p-man-nav-link">Snap to grid</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#layers" class="p-man-nav-link">Layers</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#sc-copy-cut-paste" class="p-man-nav-link">Copy / cut / paste</a></li>
                <li><a href="{{ page.relpath }}{{ page.slidecomponents_page }}#deleting-components" class="p-man-nav-link">Deleting components</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-pink)">
                    <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4q0 1 .25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75Q6 13 6 12H2s-2 0-2-2zm1.398-.855a.76.76 0 0 0-.254.302A1.5 1.5 0 0 0 1 4.01V10c0 .325.078.502.145.602q.105.156.302.254a1.5 1.5 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.76.76 0 0 0 .254-.302 1.5 1.5 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.76.76 0 0 0-.302-.254A1.5 1.5 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145"/>
                </svg>
                <span class="ps-1">Display setup</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#display-setup" class="p-man-nav-link">Display setup</a></li>
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#display-controllers" class="p-man-nav-link">Display controllers</a></li>
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#adding-displays" class="p-man-nav-link">Adding displays</a></li>
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#identifying-a-display" class="p-man-nav-link">Identifying a display</a></li>
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#naming-a-display" class="p-man-nav-link">Naming a display</a></li>
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#primary-display" class="p-man-nav-link">Primary display</a></li>
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#hiding-a-display" class="p-man-nav-link">Hiding a display</a></li>
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#linking-displays" class="p-man-nav-link">Linking displays</a></li>
                <li><a href="{{ page.relpath }}{{ page.displays_page }}#adding-an-ndi-display" class="p-man-nav-link">Adding an NDI® display</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f0d00d">
                    <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                </svg>
                <span class="ps-1">Presenting content</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#presenting" class="p-man-nav-link">Presenting</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#slide-preview" class="p-man-nav-link">Slide preview</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#show--hide" class="p-man-nav-link">Show / hide</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#preview-transition" class="p-man-nav-link">Preview transition</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#auto-show" class="p-man-nav-link">Auto-show</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#add-to-queue" class="p-man-nav-link">Add to queue</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#presenting-bible-verses" class="p-man-nav-link">Presenting Bible verses</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#presenting-song-lyrics" class="p-man-nav-link">Presenting song lyrics</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#presenting-slides" class="p-man-nav-link">Presenting slides</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#presenting-notifications" class="p-man-nav-link">Presenting notifications</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#queue-management" class="p-man-nav-link">Queue management</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#bible-searching" class="p-man-nav-link">Bible searching</a></li>
                <li><a href="{{ page.relpath }}{{ page.presenting_page }}#song-searching" class="p-man-nav-link">Song searching</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-cyan)">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                </svg>
                <span class="ps-1">Miscellaneous</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#miscellaneous" class="p-man-nav-link">Settings</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#general-settings" class="p-man-nav-link">General settings</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#slide-settings" class="p-man-nav-link">Slide settings</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#bible-settings" class="p-man-nav-link">Bible settings</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#media-settings" class="p-man-nav-link">Media settings</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#audio-settings" class="p-man-nav-link">Audio settings</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#video-settings" class="p-man-nav-link">Video settings</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#ndi-settings" class="p-man-nav-link">NDI® settings</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#zoom" class="p-man-nav-link">Zoom</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#task-log" class="p-man-nav-link">Task log</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#log-files" class="p-man-nav-link">Log files</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#check-for-update" class="p-man-nav-link">Check for update</a></li>
                <li><a href="{{ page.relpath }}{{ page.miscellaneous_page }}#about" class="p-man-nav-link">About</a></li>
            </ul>
        </li>
    </ul>
</nav>