<nav>
    <ul class="list-unstyled">
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-primary)">
                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                </svg>
                <span class="ps-1">Overview</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}index.html" class="p-man-nav-link">Home</a></li>
                <li><a href="{{ page.relpath }}index.html#about" class="p-man-nav-link">About</a></li>
                <li><a href="{{ page.relpath }}index.html#license" class="p-man-nav-link">License</a></li>
                <li><a href="{{ page.relpath }}index.html#minimum-requirements" class="p-man-nav-link">Minimum requirements</a></li>
                <li><a href="{{ page.relpath }}index.html#default-content" class="p-man-nav-link">Default content</a></li>
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-warning)">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                </svg>
                <span class="ps-1">Workspaces</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}pages/workspaces.html" class="p-man-nav-link">Workspaces</a></li>
                <li><a href="{{ page.relpath }}pages/workspaces.html#creating-workspaces" class="p-man-nav-link">Creating workspaces</a></li>
                <li><a href="{{ page.relpath }}pages/workspaces.html#switching-workspaces" class="p-man-nav-link">Switching workspaces</a></li>
                <li><a href="{{ page.relpath }}pages/workspaces.html#removing-workspaces" class="p-man-nav-link">Removing workspaces</a></li>
                <li><a href="{{ page.relpath }}pages/workspaces.html#workspace-upgrade" class="p-man-nav-link">Workspace upgrades</a></li>
                <!-- switching, creating, removing, etc -->
            </ul>
        </li>
        <li>  
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-purple)">
                    <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z"/>
                    <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z"/>
                </svg>
                <span class="ps-1">Library Management</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}pages/library.html" class="p-man-nav-link">Library</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#searching-filtering--sorting" class="p-man-nav-link">Searching, filtering, & sorting</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#selecting-an-item" class="p-man-nav-link">Selecting an item</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#content-preview" class="p-man-nav-link">Content preview</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#selecting-multiple-items" class="p-man-nav-link">Selecting multiple items</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#duplicate--copy" class="p-man-nav-link">Duplicate / copy</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#rename--delete" class="p-man-nav-link">Rename / delete</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#importing-content" class="p-man-nav-link">Importing content</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#supported-import-formats" class="p-man-nav-link">Supported import formats</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#exporting-content" class="p-man-nav-link">Exporting content</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#supported-export-formats" class="p-man-nav-link">Supported export formats</a></li>
                <li><a href="{{ page.relpath }}pages/library.html#indexing--reindexing" class="p-man-nav-link">Indexing / Reindexing</a></li>
            </ul>
        </li>
        <li>  
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-green)">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                </svg>
                <span class="ps-1">Editing</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <!-- tags, filtering, searching -->
                <li><a href="{{ page.relpath }}pages/editing.html" class="p-man-nav-link">Editing</a></li>
                <!-- Multiple edit support, will not modify current display, etc. -->
                <li><a href="{{ page.relpath }}pages/bibles.html" class="p-man-nav-link">Bibles</a></li>
                <!-- formats, where to download, editing, etc. -->
                <li><a href="{{ page.relpath }}pages/slides.html" class="p-man-nav-link">Slides</a></li>
                <!-- placeholders, components, slides, etc. -->
                <li><a href="{{ page.relpath }}pages/lyrics.html" class="p-man-nav-link">Song Lyrics</a></li>
                <!-- formats, editing, overall layout, PDF import, etc -->
                <li><a href="{{ page.relpath }}pages/media.html" class="p-man-nav-link">Media</a></li>
                <!-- formats, managing, transcoding, volume leveling, etc. -->
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-pink)">
                    <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4q0 1 .25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75Q6 13 6 12H2s-2 0-2-2zm1.398-.855a.76.76 0 0 0-.254.302A1.5 1.5 0 0 0 1 4.01V10c0 .325.078.502.145.602q.105.156.302.254a1.5 1.5 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.76.76 0 0 0 .254-.302 1.5 1.5 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.76.76 0 0 0-.302-.254A1.5 1.5 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145"/>
                </svg>
                <span class="ps-1">Preseting Content</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}pages/config.html" class="p-man-nav-link">Screen Configuration</a></li>
                <!-- Designating screens, identifying, renaming, hiding, linking, etc. -->
                <li><a href="{{ page.relpath }}pages/ndi.html" class="p-man-nav-link">NDI</a></li>
                <!-- What is it, how it works, refresh rate, OBS, etc. -->
                <li><a href="{{ page.relpath }}pages/queue.html" class="p-man-nav-link">Queue Management</a></li>
                <!-- add/remove from queue -->
                <li><a href="{{ page.relpath }}pages/notifications.html" class="p-man-nav-link">Notifications</a></li>
                <!-- export format support -->
                <li><a href="{{ page.relpath }}pages/presenting.html" class="p-man-nav-link">Presenting</a></li>
                <!-- show, hide, auto-show, preview transition, etc. -->
                <li><a href="{{ page.relpath }}pages/searching.html" class="p-man-nav-link">Searching</a></li>
                <!-- export format support -->
            </ul>
        </li>
        <li>
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill: var(--bs-cyan)">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                </svg>
                <span class="ps-1">Miscellaneous</span>
            </strong>
            <ul class="list-unstyled small pb-3">
                <li><a href="{{ page.relpath }}pages/settings.html" class="p-man-nav-link">Settings</a></li>
                <li><a href="{{ page.relpath }}pages/zoom.html" class="p-man-nav-link">Zoom</a></li>
                <li><a href="{{ page.relpath }}pages/tasks.html" class="p-man-nav-link">Tasks</a></li>
                <li><a href="{{ page.relpath }}pages/logs.html" class="p-man-nav-link">Logs</a></li>
            </ul>
        </li>
    </ul>
</nav>